*{
    margin: 0;
}

nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    box-shadow: 5px 5px 10px gray;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

li {
    padding: 15px;
}

.btn {
    background-color:cadetblue;
    border-radius: 30px;
    padding: 8px 20px;
}